.history/
node_modules
build
.vercel

.next/*

# Sitemap - XML will be generated locally, GZIP version will be deployed
public/sitemap.xml
!public/sitemap.xml.gz

# Sitemap CDN directory - has its own git repo
sitemap-cdn/